*{
  /* font-family: 'Ranchers', cursive; */
  font-family: 'Luckiest Guy', cursive;
  color: black;
  
  
}
body{
  display: flex;
  justify-self: center;
  align-items: center;
}


/* Mobile  */
@media screen and (max-width: 480px){
  .cards-box{
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    border-radius: 10px;
    gap: 8%;
    padding-bottom: 15px;
    padding-top: 4%;
    padding-left: 5%;
  
  }
  .treat-card{
    height: 10vh;
    width: 20vw;
   
  }
  img{
    height: 20vh;
    width: 20vw;
  }
  p{
    font-size: medium;
  }
  
}

/* Extra small devices  */
@media (min-width: 481px) and (max-width: 767px){
  .cards-box {
    display: grid;
    grid-template-columns: repeat(3, 24%);
    border-radius: 10px;
    gap: 5%;
    padding-left: 5%;
    padding-top: 4%;
    
  }
  .treat-card{
    height: 40vh;
    width: 22vw;
  }
  img{
    height: 10vh;
    width: 20vw;
  }
  p{
    font-size: medium;
  }

}

/* Small Tablets */
@media (min-width: 768px) and (max-width: 991px){

  .cards-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 26%);
    border-radius: 10px;
    gap: 8%;
    padding-top: 3%;
    padding-left: 4%;
  }
  .treat-card{
    height: 46vh;
    width: 22vw;
  }
  img{
    height: 25vh;
    width: 35vw;
  }
  .about-photo{
    display: grid;
    height: 40vh;
    width: 45vw;
    justify-content:flex-end;
    padding-left: 7%;
  }
  p{
    font-size: large;
  }

}

/* Large Tablets  */
@media (min-width: 992px) and (max-width: 1199px){

  .cards-box {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    border-radius: 10px;
    gap: 6%;
    padding-top: 3%;
    padding-left: 5%;
    
  }
  .treat-card{
    height: 44vh;
    width: 24vw;
  }
  img{
    height: 40vh;
    width: 40vw;
  }
  .about-photo{
    display: grid;
    height: 40vh;
    width: 45vw;
    justify-content:flex-end;
    padding-left: 7%;
  }
  p{
    font-size:larger;
  }
}



/* Destoks */
@media (min-width: 1200px) and (max-width: 1919px){

  .cards-box {
    display: grid;
    grid-template-columns: repeat(3, 18%);
    border-radius: 10px;
    gap: 10%;
    padding-top: 3%;
    padding-left: 6%;
    
  }
  .treat-card{
    height: 50vh;
    width: 24vw;
   
  }
  img{
    height: 50vh;
    width: 50vw;
  }
  .about-photo{
    display: grid;
    height: 40vh;
    width: 45vw;
    justify-content:flex-end;
    padding-left: 7%;
  }
  p{
    font-size:x-large;
  }

}

/* Extra Large Screens */
@media (min-width: 1920px) {

  .cards-box{
    display: grid;
    grid-template-columns: repeat(3, 15%);
    border-radius: 10px;
    gap: 15%;
    padding-top: 5%;
    padding-left: 9%;
   
  }
  .treat-card{
    height: 45vh;
    width: 28vw;
  }
  img{
    height: 52vh;
    width: 25vw;
  }
  .about-photo{
    display: grid;
    height: 40vh;
    width: 45vw;
    justify-content:flex-end;
    padding-left: 7%;
  }

  p{
    font-size:xx-large;
  }

}